.clear_fix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

body {
	margin: 0;
}

.main_header {
	background-color: #f1f5f7;
}


/*==========================================HEADER_TOP=========================================================*/

.header_top {
	background-color: #293449;
	font-family: Cuprum Regular;
}

.logo {
	float: left;

	font-size: 24px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;

	width: 220px;
	padding: 10px 0;
	background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.logo a {
	text-decoration: none;
	color: #ffffff;
	padding: 15px 55px;
}

.logo:hover{
	background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active{
    background: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.search {
    position: relative;
    float: left;
    width: 270px;
    height: 46px;
    cursor: pointer;
}

.bookmarks,
.basket {
	float: left;
	width: 150px;
    padding: 13.5px 0;
    cursor: pointer;
}

.bookmarks a,
.basket a {
	padding: 13.5px 15px;
    text-decoration: none;
    color: #ffffff;
}

.bookmarks:hover,
.basket:hover {
    background: #212a3a;
    opacity: 1;
}

.bookmarks:active,
.basket:active {
    background: #161d29;
    opacity: 0.7;
}

.purchase {
	float: right;
	text-align: center;

    background: #63a63e;
	width: 150px;
	padding: 14px 0;
}

.purchase a {
	text-decoration: none;
	color: #ffffff;
}

.purchase:hover{
    background: #5fbb2d;
}
.purchase:active{
    color: #b1c5a8;
    background: #518534;
}

/*==========================================HEADER_MIDDLE========================================================*/

.header_information p{
    font-size: 16px;
    line-height: 23px;
    font-family: Cuprum Italic, sans-serif;
}
.header_information p:first-child{
    float: left;
    color: #ee3643;
    
    width: 200px;
    padding: 45px 50px;
    margin: 0;
    margin-right: 20px;
}

.header-information p{
    font-size: 16px;
    line-height: 23px;
}

.header-information p:first-child{
    float: left;
    font-style: italic;
    color: #ee3643;
    
    width: 200px;
    padding: 45px 50px;
    margin: 0;
    margin-right: 20px;
}

.header_inner_info p:last-child {
	font-size: 14px;
	line-height: 24px;
	font-family: Cuprum Regular;
	color: #32425c;
	margin: 0;
	text-align: center;
}

.header_inner_info h2 {
	padding: 10px;
	border: 3px solid #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #e9292a;
    margin-bottom: 10px;
    margin-top: 0;
}

.header_inner_info {
	width: 270px;
	float: left;
	min-height: 112px;
	font-family: Cuprum Regular;
	padding: 42px 0 0 0;
}

.user_login {
	width: 300px;
	float: right;
	min-height: 112px;
	font-family: Cuprum Regular;
	margin-top: 55px;
}

.enter {
	text-decoration: none;
	font-size: 21px;
	line-height: 21px;
	padding: 12px 25px;
	color: #000;
	background-color: #fff;
	margin-right: 10px;
}

.registration {
	text-decoration: none;
	font-size: 21px;
	line-height: 21px;
	padding: 12px 35px;
	color: #000;
	background-color: #fff;
}

/*===================================HEADER_BOTTOM=====================================================*/

.my_menu {
	width: 940px;
	height: 60px;
	float: left;
	background-color: #32425c;
	margin-bottom: 60px;
    box-shadow: 0 5px 0 0 #293449;
}

.my_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.my_menu li {
	display: inline-block;
	vertical-align: top;
	font-size: 17px;
	line-height: 17px;
}

.my_menu li:last-child {
}

.my_menu li:first-child {
	margin-left: 24px;
}

.my_menu a {
	display: block;
	padding: 22px 27px;
	text-decoration: none;
	color: #ffffff;
}

.my_menu a:hover {
	background-color: #293449;
}

.my_menu a:active {
	opacity: 0.5;
	background-color: #293449;
}

/*======================================CONTENT==================================================*/

.features {
	margin-top: 60px;	
	color: #fff;
}

.features a {
	color: #fff;
	text-decoration: none;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
	font-family: Cuprum Bold;
	margin: 0;
	margin-bottom: 17px;
}

.features_item_btn a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	font-family: Cuprum Regular;
}

.features_item_btn {
	width: 135px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px 0;
	margin-left: 5px;
	border-radius: 4px;
}

.features_item_1 {
	position: relative;
	width: 260px;
	height: 85px;
	padding: 19.5px 20px;
	float: left;
	margin-right: 20px;
	background-color: #f6b22d;
}

.features_basket {
	float: right;
	width: 85px;
	height: 85px;
	background: url("images/logo_content_basket.png") no-repeat 20px;
}

.flag_red_new {
	position: absolute;
	width: 59px;
	height: 59px;
	top: 0;
	right: 0;
	float: right;
	background: url("images/flag_red_new.png") no-repeat;
}

.features_item_2 {
	position: relative;
	width: 260px;
	height: 85px;
	padding: 19.5px 20px;
	float: left;
	margin-right: 20px;
	background-color: #4aafde;
}

.features_drill {
	float: right;
	width: 85px;
	height: 85px;
	background: url("images/logo_content_drill.png") no-repeat 5px;
}

.features_item_3 {
	position: relative;
	width: 260px;
	height: 85px;
	padding: 19.5px 20px;
	float: right;
	background-color: #cc79d1;
	margin-bottom: 20px;
}

.features_tracktor {
	float: right;
	width: 85px;
	height: 85px;
	background: url("images/logo_content_tracktor.png") no-repeat 3px;
}

.features_item_4 {
	position: relative;
	width: 260px;
	height: 85px;
	padding: 19.5px 20px;
	float: right;
	background-color: #85d179;
	margin-bottom: 20px;
}

.features_prodbasket {
	float: right;
	width: 85px;
	height: 85px;
	background: url("images/logo_content_prodbasket.png") no-repeat 3px;
}

.features_item_5 {
	position: relative;
	width: 260px;
	height: 85px;
	padding: 19.5px 20px;
	float: right;
	background-color: #f6b22d;
}

.features_fastcar {
	float: right;
	width: 85px;
	height: 85px;
	background: url("images/logo_content_fastcar.png") no-repeat 3px;
}

.slide {
	width: 620px;
	height: 268px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	background: url("images/slider_1_logo.png");
}

/*===================================POPULAR ITEMS=====================================================*/

.popular_items .btn,
.popular_producers .btn {
	background-color: #ee3643;
	border-radius: 3px;
}

.btn_popular_items {
	padding: 11px 55px;
	margin-top: 25px;
	margin-right: 24px;
}

.popular_items_title {
	background-color: #f7f3ec;
	height: 88px;
	margin-bottom: 26px;
	font-family: Cuprum Regular;
}

.popular_items_title h2 {
	float: left;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin-left: 28px;
	margin-top: 29px;
	margin-bottom: 29px;
}

.popular_items_title a {
	float: right;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

/*===================================POPULAR ITEMS INNER=====================================================*/

.inner_catalog {
	font-family: Cuprum Bold;
}

.inner_catalog h4 {
	margin-top: 0;
	margin-bottom: 8px;
}

.discount {
	margin-bottom: 8px;
}

.inner_product_1_logo,
.inner_product_2_logo,
.inner_product_3_logo,
.inner_product_4_logo {
	height: 168px;
}

.inner_product_1 {
	position: relative;
	display: inline-block;
	float: left;
	width: 218px;
	height: 300px;
	border: solid 2px #e5e5e5;
	margin-right: 17px;
	margin-bottom: 20px;
	background-color: #fff;
	text-align: center;
}

.inner_product_2 {
	position: relative;
	display: inline-block;
	float: left;
	width: 218px;
	height: 300px;
	border: solid 2px #e5e5e5;
	margin-right: 17px;
	background-color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.inner_product_2_logo img {
	margin-top: 25px;
}

.inner_product_3 {
	position: relative;
	display: inline-block;
	float: left;
	width: 218px;
	height: 300px;
	border: solid 2px #e5e5e5;
	margin-right: 17px;
	background-color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.inner_product_3_logo img {
	margin-top: 20px;
	margin-right: 5px;
}

.inner_product_4 {
	position: relative;
	display: inline-block;
	float: right;
	width: 218px;
	height: 300px;
	border: solid 2px #e5e5e5;
	background-color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.inner_product_4_logo img {
	margin-top: 27px;
	margin-right: 10px;
}

.inner_catalog .price {
	font-size: 17px;
	line-height: 18px;
	position: relative;
	width: 70px;
	background-color: #ee3643;
	margin-left: 43px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 15px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.triangle {
	position: absolute;
	top: 0;
	right: -38px;
	border: 19px solid transparent;	
	border-left: 19px solid #ee3643;
}

/*===================================POPULAR PRODUCERS=====================================================*/

.popular_producers {
	font-family: Cuprum Regular;
}

.popular_producers_title {
	float: left;
	width: 940px;
	height: 90px;
	margin-bottom: 20px;
	background-color: #f7f3ec;
}

.btn_popular_producers {
	float: right;
	margin-bottom: 20px;
	background-color: green;
	padding: 11px 70px;
	margin-right: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.popular_producers_title h2 {
	float: left;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin-left: 28px;
	margin-top: 29px;
	margin-bottom: 29px;
}

.popular_producers a {
	float: right;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
/*===================================POPULAR PRODUCERS INNER================================================*/

.popular_producers_logo_1 {
	float: left;
	width: 216px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_1.png") no-repeat 40px;
}

.popular_producers_logo_2 {
	float: left;
	width: 216px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_2.png") no-repeat 50px;
}

.popular_producers_logo_3 {
	float: left;
	width: 216px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_3.png") no-repeat 35px 50px;
}

.popular_producers_logo_4 {
	float: right;
	width: 216px;
	height: 145px;
	margin-bottom: 20px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_4.png") no-repeat 5px 25px;
}

.popular_producers_logo_5 {
	float: left;
	width: 216px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 85px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_5.png") no-repeat 25px;
}

.popular_producers_logo_6 {
	float: left;
	width: 216px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 85px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_6.png") no-repeat 40px;
}

.popular_producers_logo_7 {
	float: left;
	width: 216px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 85px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_7.png") no-repeat 35px 20px;
}

.popular_producers_logo_8 {
	float: right;
	width: 216px;
	height: 145px;
	margin-bottom: 85px;
	border: solid 2px #e5e5e5;
	background: url("images/popular_producers_logo_8.png") no-repeat 10px;
}

/*===================================SERVICES TITLE================================================*/

.services_background {
	padding-top: 60px;
	background-color: #f0f4f6;
	margin-bottom: 80px;
}

.services_info_title h3 {
	float: left;
	width: 940px;
	margin: 0 0 20px 0;
	font-size: 30px;
	line-height: 30px;
	font-family: Cuprum Regular;
	text-transform: uppercase;
}

.services_info_about {
	float: left;
	width: 940px;
	margin-bottom: 70px;
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans;
}

.services_left_col {
	float: left;
	width: 240px;
	margin-right: 60px;
	margin-bottom: 82px;
}

.services_left_col h4 {
	font-size: 21px;
	line-height: 30px;
	font-family: Cuprum Bold;
	padding: 15px 20px;
	background-color: #32425c;
	margin: 0;
	color: #fff;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
}

.services_center_col {
	float: left;
	width: 300px;
	height: 280px;
	margin-bottom: 82px;
}

.services_center_col h3 {
	margin-top: 0;
	font-size: 36px;
	line-height: 36px;
	font-family: Cuprum Regular;
	color: #32425c;
}

.services_center_col p {
	width: 280px;
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans;
}

.services_right_col {
	float: right;
	width: 300px;
	height: 280px;
	background-color: yellow;
	margin-bottom: 82px;
	background: url("images/services_right_col_1.png") no-repeat 50px 40px;
}

/*===========================ABOUT===============================================================*/

.details_about_company h3 {
	margin-top: 0;
	font-size: 30px;
	line-height: 30px;
	font-family: Cuprum Regular;
	text-transform: uppercase;
}

.details_about_company p {
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans;
}

.details_about_company_left {
	float: left;
	width: 540px;
	height: 380px;
	margin-bottom: 86px;
}

.details_about_company_right {
	float: right;
	width: 300px;
	height: 380px;
	margin-bottom: 86px;
	margin-left: 100px;
}

.details_about_company_map {
	background: url("images/details_about_comapny_right_map.png");
	width: 300px;
	height: 160px;
}

.details_about_company_btn_1 {	
	float: left;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #ee3643;
	border-radius: 3px;
	padding: 11px 10px;
	width: 200px;
	margin-top: 10px;
	font-family: Cuprum Regular;
	text-align: center;
}

.details_about_company_btn_2 {
	float: right;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #ee3643;
	border-radius: 3px;
	padding: 11px 25px;
	width: 250px;
	margin-top: 40px;
	font-family: Cuprum Regular;
	text-align: center;
}

.lines li {
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-family: Cuprum Regular;
	margin-bottom: 15px;
}
/*===================================FOOTER=====================================================*/

.footer_top_left_info {
	float: left;
	width: 380px;
	height: 70px;
	margin-bottom: 33px;
	background-color: red;
}

.footer_top_right_nav {
	float: right;
	width: 560px;
	height: 70px;
	margin-bottom: 33px;
	background-color: grey;
}

.footer_middle_left_info {
	float: left;
	background-color: green;
	width: 380px;
	height: 75px;
	margin-bottom: 27px;
}

.footer_middle_right_nav {
	float: right;
	background-color: pink;
	width: 560px;
	height: 75px;
	margin-bottom: 27px;
}

.footer_bottom_left_info {
	float: left;
	width: 390px;
	height: 110px;
	background-color: red;
}

.footer_bottom_center_social {
	float: left;
	width: 160px;
	height: 110px;
	background-color: yellow;
}

.footer_bottom_right_feedback {
	float: right;
	width: 240px;
	height: 110px;
	background-color: green;
}

.footer_bottom_right_maker {
	float: right;
	width: 150px;
	height: 110px;
	background-color: brown;
}
/*===================================HEADER=====================================================*/

/*===================================HEADER=====================================================*/

/*===================================HEADER=====================================================*/

/*===================================FONTS=====================================================*/
@font-face {
	font-family: Cuprum Regular;
	src: url("fonts/Cuprum-Regular.ttf");
}

@font-face {
	font-family: Cuprum Italic;
	src: url("fonts/Cuprum-Italic.ttf");
}

@font-face {
	font-family: Cuprum Bold;
	src: url("fonts/Cuprum-Bold.ttf");
}

@font-face {
	font-family: PT Sans;
	src: url("fonts/PTS55F.ttf");
}